* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  text-align: center;
  margin: 2em;
}

.selectTeam {
  width: 30%;
  padding: 5px;
}

.second-header {
  margin: 1em;
}

.line {
  width: 80%;
  margin: 1.5em auto;
}

.container {
  display: flex;
  justify-content: center;
}

.employeeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

}

.teamContainer {
  width: 50%;
  border: 2px solid rgb(197, 194, 194);
  margin: 1em auto;
  text-align: center;
}

.teamName {
  border: 2px solid rgb(197, 194, 194);
  padding: 0.5em;
}

.members {
  display: none;
}

.visible {
  display: block;
}

.employeeCard {
  border: 2px solid rgb(197, 194, 194);
}

.curTeamCard {
  border: 2px solid black;
}

.otherTeamCard {
  opacity: 0.3;
  background-color: rgb(141, 135, 135);
}

.footerStyle {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
}

.employeeInfo {
  margin: 5px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: black;
}

.navbar>li {
  list-style-type: none;
  padding: 0.6em;
}

.navbar>li>a {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(173, 173, 173);
  cursor: pointer;
}

.navbar>li>.active {
  color: white;
}

.footer {
  text-align: center;
  margin-top: 2em;
  background-color: rgba(188, 188, 188, 0.741);
}

.footer>p {
  padding: 1em;
}

body {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #666262;
  border-radius: 5px;
}